@tailwind base;
@tailwind components;
@tailwind utilities;
input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;

  color: transparent;
  cursor: pointer;
  left: 10px;
  z-index: 999;
}
