@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;

  color: transparent;
  cursor: pointer;
  left: 10px;
  z-index: 999;
}


